<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>views</key>
	<array>
		<dict>
			<key>title</key>
			<string>NoteSnap</string>
			<key>image</key>
			<string>notesnap.jpeg</string>
			<key>text</key>
			<string>Notesnap is an App I built with 1sb body. This app allows students to share homework and comment on it. I built the camera with automatic square detection and screwing.</string>
			<key>titleRed</key>
			<string>240</string>
			<key>titleBlue</key>
			<string>238</string>
			<key>titleGreen</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Past</string>
			<key>image</key>
			<string>IMG_6010.jpeg</string>
			<key>text</key>
			<string>I grew up in silicon Valley absolutely loving every moment of it. I still to this day love every second of it. I have been programming for a few years and made WWDC scholar last year and hope to do it again!</string>
			<key>titleRed</key>
			<string>198</string>
			<key>titleBlue</key>
			<string>253</string>
			<key>titleGreen</key>
			<string>107</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Time Marks</string>
			<key>image</key>
			<string></string>
			<key>text</key>
			<string>I built time marks to better the video recording at my church. By starting a counter with time we were able to track when slides changes or other key events were without having to watch the video again.</string>
			<key>titleRed</key>
			<string>52</string>
			<key>titleBlue</key>
			<string>255</string>
			<key>titleGreen</key>
			<string>105</string>
		</dict>
		<dict>
			<key>title</key>
			<string>About Me</string>
			<key>image</key>
			<string>me.jpg</string>
			<key>text</key>
			<string>I currently live in the San Jose area and am attending San Jose City College to transfer to Cal Poly SLO for a BS in computer science. I also enjoy playing music and going to church as well as programming.</string>
			<key>titleRed</key>
			<string>255</string>
			<key>titleGreen</key>
			<string>150</string>
			<key>titleBlue</key>
			<string>255</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>text</key>
			<string></string>
			<key>titleRed</key>
			<string>95</string>
			<key>titleGreen</key>
			<string>242</string>
			<key>titleBlue</key>
			<string>230</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Fess</string>
			<key>image</key>
			<string>fess.png</string>
			<key>text</key>
			<string>Fess was another App I worked on with 1StudentBody similar to secret. The app had thousands of users and I added many key features to bring in even more. It was one of the first places I messed with location to create a user generated list of schools for those that weren&apos;t in the database.</string>
			<key>titleRed</key>
			<string>255</string>
			<key>titleGreen</key>
			<string>60</string>
			<key>titleBlue</key>
			<string>91</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>text</key>
			<string></string>
			<key>titleRed</key>
			<string>255</string>
			<key>titleGreen</key>
			<string>167</string>
			<key>titleBlue</key>
			<string>147</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>text</key>
			<string></string>
			<key>titleRed</key>
			<string>255</string>
			<key>titleGreen</key>
			<string>167</string>
			<key>titleBlue</key>
			<string>147</string>
		</dict>
	</array>
</dict>
</plist>
